//  colors
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkGrayishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(240, 2%, 79%);
$VeryDarkGrayishBlue-footerBg: hsl(240, 10%, 16%);
$offWhite: hsl(240, 7%, 94%);

//  fonts
$font-sm: 1rem;
$font-mid: 1.25rem;
$font-lg: 2.25rem;